.stopwatch{
    width: 450px;
    height: 120px;
    border: 3px black solid;
}
#time{
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-style: "arial",sanf-serif;
    font-size: 20px;
}
#startButton{
    text-decoration: none;
    background-color: green;;
    color: white;
}
#pauseButton{
    text-decoration: none;
    display: none;
    background-color: black;
    color: white;
}
#resetButton{
    text-decoration: none;
    background-color: red;
    color: white;
}
.buttons-block{
    display: flex;
    text-align: center;
    margin-left: 130px;
    justify-content: space-between;
    width: 40%;
    margin-top: 30px;
}